@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Michael Jackson</h1>

    <h2 id="animation">Thriller</h2>
    <div class="videoframe" style="margin-top: 50px;">
    <!-- video window -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4V90AmXnguw?si=i8yjCWkBJGZ7Lkbw" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>

<script>
    // Target text element
    const text = document.getElementById("animation");

    // Starting opacity
    let opacity = 1;

    // Fade function
    function fade() {
        // Reduce opacity
        opacity -= 0.01;

        // Apply new opacity 
        text.style.opacity = opacity;

        // Reset opacity  
        if (opacity <= 0) {
            opacity = 1;
        }
    }

    // Call fade every 50ms
    setInterval(fade, 50);
</script>
